# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
node_report.csv
v8.log
*.heapsnapshot
*.heaptimeline
*.heapprofile
*.cpuprofile

# Dependency directories
node_modules/
jspm_packages/

# OS metadata
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Build output
dist/
build/

# Next.js build output
.next/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
